<div class="d-grid row-gap-3">
  <%= link_to quotes_path, { class: 'fs-5 link-underline link-underline-opacity-0' } do %>
    <i class="bi bi-arrow-left pe-1"></i>Back to quotes
  <% end %>

  <h1>New quote</h1>

  <%= render "form", quote: @quote %>
</div>
